.mosaico{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.imgpeque {
display: flex;
justify-content: space-evenly;
width: 100%;
flex-direction: column;
}

.imggrande {
background-color: #8B4513;
width: 1000px;
height: 1000px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
}

.imagen-pequena{
    width: 200px;
    height: 200px;
    margin-top: 5px;
}

.colorEmp{
    background-color: #FFF5E1;
}

.colorAcen1{
    color: #FFC0CB;
}

.colorAcen2{
    color: #8B4513
}

.colortextpr{
    color: #5D4037
}

.colortextse{
    color: #B0BEC5
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
